@import "./Header";
@import "./Options";
@import "./CartPage";
@import "./OrderList";
@import "./Goods";

.main-page {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.main-page,
.cart-page {
    &::-webkit-scrollbar {
        width: 7px;
        height: 3px;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: #666;
        border-radius: 3px;
    }
}
