// Colors
$body-bg: #ffdf8c;
$red-cl: #fe5f1e;

//Paddings and margins
$container-padding: 40px 55px;

//Flexs
@mixin f-s-b {
    display: flex;
    justify-content: space-between;
}

//fonts
@mixin dark-bold-text {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    color: #2c2c2c;
}

@mixin main-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;

    color: #000000;
}
